:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;
  --borderColor: #c1c1c1;
  --mainText: black;
  --secondaryText: #4b5156;
  --themeDotBorder: #24292e;
  --previewBg: rgb(251, 249, 253, 0.8);
  --previewShadow: #f0ead6;
  --buttonColor: black;
}

body,
html {
  padding: 0;
  margin: 0;
}
body * {
  transition: 0.3s;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Russo One", sans-serif;
  font-weight: 500;
}

p,
a,
li,
span,
label,
textarea {
  color: var(--secondaryText);
  font-family: "Roboto Mono", monospace;
}

.s1 {
  background-color: var(--mainColor);
  border-color: 1px solid var(--borderColor);
  overflow: auto;
}

.s2 {
  background-color: var(--secondaryColor);
  border-color: 1px solid var(--borderColor);
  overflow: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #17a2b8;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.greeting-wrapper {
  display: grid;
  text-align: center;
  align-content: center; /*places the text exactly blw x and y axis*/
  /*border:2px dashed lightcoral;*/
  min-height: 10em;
}

.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*grid-template-rows: 3em 20em; */
  grid-template-areas:
    "nav-wrapper nav-wrapper"
    "left-column right-column";
}

#navigation a {
  color: var(--mainText);
}

#profilepic {
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border: 2px solid var(--borderColor);
  /*margin-top: 10px;*/
}
#theme-option-wrapper {
  display: flex;
  justify-content: center;
}
.theme-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: blue;
  margin: 5px;
  border: 2px solid var(--themeDotBorder);
}

.theme-dot:hover {
  border-width: 5px;
}

#light-mode {
  background-color: #fff;
}
#blue-mode {
  background-color: #192734;
}
#green-mode {
  background-color: #78866b;
}
#purple-mode {
  background-color: #7e4e74;
}

#settings-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.nav-wrapper {
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
  border-radius: 5px 5px 0 0;
  /*border: 1px dashed lightcoral;*/
}

.dots-wrapper {
  display: flex;
  padding: 10px;
}

.browser-dot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

#navigation {
  margin: 0px;
  padding: 10px;
}

#navigation li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

#dot-1 {
  background-color: #fc6058;
}
#dot-2 {
  background-color: #fec02f;
}

#dot-2 {
  background-color: #2aca3e;
}

.left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;
  /*border: 1px dashed lightcoral;*/
}

.right-column {
  grid-area: right-column;
  /*border: 1px dashed lightcoral;*/
  display: grid;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
#preview-shadow {
  background-color: var(--previewShadow);
  width: 300px;
  height: 150px;
  padding-left: 30px;
  padding-top: 30px;
}
#preview {
  width: 300px;
  border: 1.5px solid #17a2b8;
  background-color: var(--previewBg);
  padding: 15px;
  position: relative;
}
.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: #fff;
  position: absolute;
}

#corner-tl {
  top: -5px;
  left: -5px;
}
#corner-tr {
  top: -5px;
  right: -5px;
}
#corner-br {
  bottom: -5px;
  right: -5px;
}
#corner-bl {
  bottom: -5px;
  left: -5px;
}

.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 100px;
}
.expertise {
  display: grid;
  justify-content: center;
}
#skill {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--previewShadow);
}

.social-links {
  display: grid;
  align-content: center;
  text-align: center;
}

.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}

.post {
  border: 1px solid var(--borderColor);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}
.thumbnail {
  width: 100%;
  display: block;
  height: 180px;
  object-fit: cover;
}

.post-preview {
  padding: 10px;
  background-color: #fff;
}

.post-title {
  color: black;
  margin: 0;
}

.post-intro {
  color: #4b5156;
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}
#submit-btn {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  color: #fff;
  border: none;
  background-color: var(--buttonColor);
}
#contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--borderColor);
  padding: 15px;
  border-radius: 15px;
  background-color: var(--mainColor);
  margin-bottom: 50px;
}

#contact-form label {
  line-height: 2.7em;
}

#contact-form textarea {
  min-height: 100px;
  font-size: 14px;
}
span {
  font-size: 30px;
  margin-left: auto;
}

.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--secondaryColor);
  border-radius: 7px;
  border: 1px solid var(--borderColor);
  font-size: 14px;
}
@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    /*grid-template-rows: 3em 20em; */
    grid-template-areas:
      "nav-wrapper"
      "left-column"
      "right-column";
  }
  .right-column {
    justify-content: center;
  }
}
